<section>
  <form name="form" ng-submit="addCar()">
    <fieldset>
      <legend>Add a car</legend>

      <div class="form-group">
        <label>Model</label>
        <input name="model" type="text" ng-model="car.model">
      </div>

      <div class="form-group">
        <label>Brand</label>
        <input name="brand" type="text" ng-model="car.brand">
      </div>

      <div class="form-group">
        <label>Seat</label>
        <input name="seat" type="number" ng-model="car.seat">
      </div>

      <div class="form-group">
        <label>doorNumber</label>
        <input name="doorNumber" type="number" ng-model="car.doorNumber">
      </div>

      <div class="form-group">
        <label>Price per day</label>
        <input name="price" type="number" ng-model="car.price">
      </div>

      <div class="actions">
        <label></label>
        <button>Add</button>
      </div>
    </fieldset>
  </form>
</section>
